body {
    background: rgb(131,58,180);
background: linear-gradient(158deg, rgba(131,58,180) 0%, rgba(253,29,29) 50%, rgba(252,176,69) 100%);
   margin: 0;
    font-size: 16px;
    font-family: 'Gabarito', cursive;
    font-family: 'Roboto', sans-serif;
}


.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.projectview {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;

}

.project-title {
    align-self: center;
    width: 70%;
    background: rgba(255, 255, 255, 0.534);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    display: flex;
    border-radius: 10px;
    position: fixed;
    margin: 10px;
    font-size: 1.2rem;
    justify-content: center;
    z-index: 1;
}


.project-content {
    margin-top: 50px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    scrollbar-gutter: stable;
    flex-direction: column;
    padding-top: 100px;
    height: 60rem;
    width: 95%;
    text-align: center;
    gap: 20px;

    >p {
        width: 100%;
    }

    overflow-y: hidden;
    z-index: 0;
    border-radius: 20px;
}

.project-content:hover {
    overflow-y: scroll;
}


.project-content::-webkit-scrollbar {
    width: 10px;
    height: 10px;

}

.project-content::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    background-clip: padding-box;
}

.new-todo-button {
    margin: 10px;
    background: rgba(255, 255, 255, 0.534);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    width: 5rem;
    height: 5rem;
    cursor: pointer;

}

